@font-face {
  font-family: 'NeoDGM';
  src: url('fonts/neodgm.woff2') format('woff2'),
       url('fonts/neodgm.woff') format('woff');
}

body {
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: 'NeoDGM', sans-serif;
  color: white;
}

.score-board {
  text-align: center;
  margin-bottom: 20px;
}

.score-board p {
  font-size: 18px;
  margin: 5px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.monitor-container {
  text-align: center;
  margin: 0 40px;
}

.event-image {
  width: 300px; /* 모니터 이미지 크기 */
  height: auto;
}

.event-name {
  color: #00ff00;
  margin-top: 10px;
  font-size: 24px;
  padding: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.event-name:hover {
  background-color: #00ff00;
  color: #1e1e1e;
  border-radius: 5px;
}

.vs-text {
  font-size: 40px;
  color: white;
  margin: 0 20px;
}

/* 정답 애니메이션 */
.correct-answer {
  animation: correctAnimation 0.5s;
}

@keyframes correctAnimation {
  0% {
    background-color: #1e1e1e;
  }
  50% {
    background-color: #00ff00;
  }
  100% {
    background-color: #1e1e1e;
  }
}

/* 오답 애니메이션 */
.wrong-answer {
  animation: wrongAnimation 0.5s;
}

@keyframes wrongAnimation {
  0% {
    background-color: #1e1e1e;
  }
  50% {
    background-color: #ff0000;
  }
  100% {
    background-color: #1e1e1e;
  }
}

