@font-face {
  font-family: 'NeoDGM';
  src: url('fonts/neodgm.woff2') format('woff2'),
       url('fonts/neodgm.woff') format('woff');
}

body {
  background-color: #1e1e1e; /* 어두운 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'NeoDGM', sans-serif; /* 네오둠 폰트 */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.monitor-container {
  text-align: center;
  margin: 0 40px;
}

.event-image {
  width: 300px; /* 모니터 이미지 크기 */
  height: auto;
}

.event-name {
  color: #00ff00; /* 녹색 텍스트 */
  margin-top: 10px;
  font-size: 24px;
}

.vs-text {
  font-size: 40px;
  color: white;
  margin: 0 20px;
}
