@font-face {
  font-family: 'NeoDGM';
  src: url('fonts/neodgm.woff2') format('woff2'),
       url('fonts/neodgm.woff') format('woff');
}

body {
  background-color: #1e1e1e; /* 어두운 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: 'NeoDGM', sans-serif;
  color: white;
}

.score-board {
  text-align: center;
  margin-bottom: 20px;
}

.score-board p {
  font-size: 18px;
  margin: 5px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.monitor-container {
  text-align: center;
  margin: 0 40px;
}

.event-image {
  width: 300px; /* 모니터 이미지 크기 */
  height: auto;
}

.event-name {
  color: #00ff00; /* 기본 녹색 텍스트 */
  margin-top: 10px;
  font-size: 24px;
  padding: 5px;
  transition: background-color 0.3s, color 0.3s;
}

/* 마우스 호버 시 녹색 박스와 어두운 글자색 */
.event-name:hover {
  background-color: #00ff00; /* 녹색 배경 */
  color: #1e1e1e; /* 어두운 글자 */
  border-radius: 5px; /* 테두리 둥글게 */
}

.vs-text {
  font-size: 40px;
  color: white;
  margin: 0 20px;
}
